<footer class="footer-wrapper">
  <ul class="footer-list">
    <li>The Field Gardens and Nursery</li>
    <li>Park Way, Siddington, Cirencester GL7 6HL</li>
    <li>T: +44 7891 223 474</li>
    <li>E: <a href="mailto:jbruce.210@gmail.com">jbruce.210@gmail.com</a></li>
    <li>© 2024 The Field Gardens and Nursery</li>
  </ul>
</footer>
